// Core
@import "./core/variables";
@import "./core/breakpoints";
@import "./core/colors";


// Components
@import "./components/button";
@import "./components/small-card";
@import "./components/mini-card";
@import "./components/page-title";

// Section: all html pages
@import "./sections/header";
@import "./sections/footer";

// Sections: index.html
@import "./sections/index/showcase-top";
@import "./sections/index/showcase-bottom";
@import "./sections/index/featured-product";
@import "./sections/index/top-picks";
@import "./sections/index/our-speciality";
@import "./sections/index/two-for-price-of";
@import "./sections/index/highlight-sale";
@import "./sections/index/chosen-categories";
@import "./sections/index/webshop-info";

// // Sections: contact.html
// @import "./assets/sections/contact/map";
// @import "./assets/sections/contact/contact-form";

// // Sections: product.html
// @import "./assets/sections/product/current-offer-banner";
// @import "./assets/sections/product/product-overview";
// @import "./assets/sections/product/product-in-deph-info";
// @import "./assets/sections/product/related-products";




// Styling for the whole document
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: $font-weight-regular;
    color: $color-dark;
}