// 

header{
    background-color: $color-grey-30;
    // position: fixed;
    // z-index: 10;
    width: 100%;

    nav{
        width: 95vw;
        max-width: 1680px;
        margin: auto;
        height: 7rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        
        @include sm{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        @include md{            
            height: 4rem;
            // display: flex;
            // flex-direction: row;
            // align-items: center;
            // justify-content: space-between;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .logo-link{
            font-weight: $font-weight-bold;
            font-size: $font-size-35;
            color: $color-dark;
            text-decoration: none;
        }

        .nav-links{
            display: grid;
            
            @include sm{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .nav-link{
                color: $color-dark;
                text-decoration: none;
                font-weight: $font-weight-medium;
                margin: 0 1rem;

                @include lg{
                    margin: 0 2rem;
                }

                &:hover{
                    color: $color-theme;
                }

            }
            
            .active{
                color: $color-theme;
            }
        }

        .nav-icons{
            display: none;
            align-items: center;
            
            @include md{
                display: flex;
                justify-content: flex-end;
            }

            .menu-icon{
                margin: 0 0.3rem;
                text-decoration: none;

                &:first-child{
                    margin-left: 0rem;
                }
                &:last-child{
                    margin-right: 0rem;
                }

                @include lg{
                    margin: 0 0.8rem;
                }

                .circle{
                    background-color: $color-white;
                    width: 36px;
                    height: 36px;
                    border-radius: $border-radius-rounded;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    filter: drop-shadow(0 2px 5px $color-grey-40);
                    transition: 0.2s ease-in-out;

                    .fa-bag-shopping{
                        font-size: 1.05em;
                    }

                    &:hover{
                        background-color: $color-dark;
                        
                        i{
                            color: $color-white;
                        }
                    }
                    
                    .badge{
                        position: absolute;
                        background-color: $color-theme;
                        top: -5px;
                        right: -10px;
                    }
                }
            }

            .active{
                .circle{
                    background-color: $color-dark;

                    i{
                        color: $color-white;
                    }
                }       
            }
        }
    }
}